{% extends 'base.html.twig' %}

{% block title %}Average Packs by Sponsor{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <h5 class="card-header">Average Packs by Sponsor</h5>
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center">
                        <h6 class="text-center">Average Packs Per Sponsor</h6>
                        <p class="fs-3">{{ averagePacks }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
