	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/06/2019 10:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon-2af33401b81447494c2da48d3493ade3.eot");
  src: url("Flaticon-2af33401b81447494c2da48d3493ade3.eot") format("embedded-opentype"),
       url("Flaticon-46fe400787e1baafbf819f5c963a2ab9.woff2") format("woff2"),
       url("Flaticon-5e9ee563dad9c0afd7bb949ee7164abc.woff") format("woff"),
       url("Flaticon-e3231d1b6344636a2428fff725e05aad.ttf") format("truetype"),
       url("Flaticon-4162181ad50fbc8044f87c5858977011.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon-4162181ad50fbc8044f87c5858977011.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-muscle:before { content: "\f100"; }
.flaticon-stationary-bike:before { content: "\f101"; }
.flaticon-banana:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-scale:before { content: "\f104"; }
.flaticon-weight:before { content: "\f105"; }